body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    /*line-height: 2;*/
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 10%;
    margin: 50px auto;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

p {
    line-height: 2;
}

.my-description, .contact-text {
    color: #40514E;
    width: 50%;
    margin: 40px auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.programming, .webdevelopement {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.datascience, .machinelearning {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.btn {
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    background-color: #66BFBF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #11999E;
    color: #EAF6F6;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding-top: 50px;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.8rem;
    padding: 20px 0;
    margin: 0;
}