body {
    background-color: rgb(215, 243, 243);
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

h1,h2,h3 {
    color: #66BFBF;
}